<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="{% url "home" %}" style="color:red;">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "eligibility" %}" style="color:red;">Donation Eligibility</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url "register" %}" style="color:red;">Become a Donor</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "contact" %}" style="color:red;">Contact</a>
      </li>
</ul>